@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Azeret Mono", monospace;
    text-decoration: none;
   
}
        /* hero-section */

header .hero-section {
    background-image: url(/assets/Hero-bg.png);
    width: 1440px;
height: 652px;
background-size:cover;
background-repeat:no-repeat;
margin:0 auto;
display:flex;
justify-content: center;

}
header .hero-section .hero-content {
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 32px;
width:998px;
}
header .hero-section .hero-content h1 {
    color: #0D1321;
text-align: center;
font-size: 46px;
font-style: normal;
font-weight: 800;
line-height: 68px; /* 141.667% */
}
header .hero-section .hero-content p {
    color: #0D1321;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
opacity: 0.7;
}
header .hero-section .hero-content a {
    padding: 19px 22px;
    border-radius: 8px;
background: #0D1321;
color: #FFF;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
header .hero-section .hero-content a:hover {
    color:black;
    background-color: white;
    border:3px solid black;
}

        /* why-web section */

.why-web {
    display: flex;
    width: 1140px;
    padding: 80px 97px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin:100px auto;
    
}

.why-web .container {
    display:flex;
    flex-direction: column;
    gap:30px;
 
}
.why-web .container .description {
    text-align: center;
}
.why-web .container .description h2 {
    color: #0D1321;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
align-self: stretch;
margin-bottom: 24px;
}
.why-web .container .description p {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    opacity: 0.7;
    align-self: stretch;
}
.why-web .container .content {
    display: flex;
padding: 48px;
gap: 32px;
align-self: stretch;
border-radius: 16px;
background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}
.why-web .container .content .text-content {
    display: flex;
    width: 477px;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
}
.why-web .container .content .text-content h3 {
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
}

.why-web .container .content .text-content p {
    color: #0D1321;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 162.5% */
opacity: 0.7;
}

.why-web .container .content .text-content a {
    padding: 12px 20px;
    border: 1px solid #0D1321;
opacity: 0.7;
color: #0D1321;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.why-web .container .content .text-content a:hover {
    color:white;
    background-color: rgb(6, 5, 6);
}

.why-web .container .content-2 {
    flex-direction: row-reverse;
}
