@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Azeret Mono", monospace;
    text-decoration: none;
   
}

header .hero-section {
    background-image: url(/assets/Hero-bg.png);
    width: 1440px;
height: 652px;
background-size:cover;
background-repeat:no-repeat;
margin:0 auto;
display:flex;
justify-content: center;

}
header .hero-section .hero-content {
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 32px;
width:998px;
}
header .hero-section .hero-content h1 {
    color: #0D1321;
text-align: center;
font-size: 46px;
font-style: normal;
font-weight: 800;
line-height: 68px; /* 141.667% */
}
header .hero-section .hero-content p {
    color: #0D1321;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
opacity: 0.7;
}
header .hero-section .hero-content a {
    padding: 19px 22px;
    border-radius: 8px;
background: #0D1321;
color: #FFF;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
header .hero-section .hero-content a:hover {
    color:black;
    background-color: white;
    border:3px solid black;
}


